@model Mvc4Fundamental.Models.Department

@{
    ViewBag.Title = "Detail";
}

<h2>Department Details</h2>

<div>
    <h4>Department</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<h2>@Model.Name</h2>
@Html.ActionLink("Create Employee" , "Create" , "Employee" , new { DepartmentId = @Model.Id} ,null)
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Employees != null)
    {
        foreach (var employee in Model.Employees)
         {
             <tr>
                 <td>@employee.Name</td>
             </tr>
         }
    }
    <tr>
        <td>No data yet</td>
    </tr>
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
